credential.helper=osxkeychain
user.email=akbar.khamidov@vanderbilt.edu
user.username=gateak
user.name=Akbar Sherzod Khamidov
filter.lfs.required=true
filter.lfs.clean=git-lfs clean -- %f
filter.lfs.smudge=git-lfs smudge -- %f
filter.lfs.process=git-lfs filter-process
pull.rebase=false
push.autosetupremote=true
# url.ssh://git@github.com/.insteadof=https://github.com/
core.bare=false
core.repositoryformatversion=0
core.filemode=true
core.ignorecase=true
core.precomposeunicode=true
core.logallrefupdates=true
remote.origin.url=https://github.com/gateak/passgen.git
remote.origin.fetch=+refs/heads/*:refs/remotes/origin/*
